* {
  margin: 0;
  padding: 0;
}

#root{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 0rem;
}

@font-face {
  font-family: 'DINNextLTPro';
  src: url('../assets/DINNextLTPro-Medium.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Carter One';
  src: url('../assets/CarterOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Learners';
  src: url('../assets/Letters for Learners.ttf');
  font-weight: normal;
  font-style: normal;
}
