.selectCard {
  display: relative;
}

.text-spaced-6 {
  margin-bottom: 6rem;
}
.text-spaced-5 {
  margin-bottom: 5rem;
}
.text-spaced-4 {
  margin-bottom: 4rem;
}
.text-spaced-3 {
  margin-bottom: 3rem;
}
.text-spaced-2 {
  margin-bottom: 2rem;
}
.text-spaced-1 {
  margin-bottom: 1rem;
}

.input-card {
  position: absolute;
  right: 1.5rem;
}

#togglePassword{
  display: inline;
  width: 1.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}
