@import 'mixins';

.grid-main-parent{
  position: relative;
  @include flex-center;
  @include background-pos;
  @include pm-reset;
  width: 100%;
  height: 100%;
}

.grid-row-half{
  width: 100%;
  height: 50%;
  @include pm-reset;
  left:0;
  position: absolute;
}

.pt-25{
  top: 25%;
}
.pt-50{
  top: 50%;
}
.pt-75{
  top: 75%;
}

.card-profile {
  @include background-pos;
}
