@import "mixins";

#canvasP5home{
  @include padding-reset;
  overflow-x: hidden;
}

.home-canvas-container{
  @include padding-reset;
}

#main-panel-toggle{
  position: fixed;
  width: 300px;
  height: 30px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1000;
  transition: bottom 0.25s;
}

.toggle-pos-true{
  bottom: 150px;
}
.toggle-pos-false{
  bottom: 0px;
}

.panel-display-false{
  opacity: 0;
}
.panel-display-true{
  opacity: 1;
}
.main-panel{
  position: fixed;
  bottom: 0px;
  width: 1000px;
  height: 160px;
  margin:1px;
  left: 50%;
  transform: translate(-50%,0%);
  transition: opacity 0.25s;
}

#main-panel-image{
  position: absolute;
  width: 100%;
}

.image-profile-button{
  display: inline;
  clip-path: circle(50% at 50% 50%);
  width: 92px;
  transform: translate(-14px,-6px);
}

.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#main-panel-profile-button{
  display: inline;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 6px;
  width: 92px;
  height: 92px;
  background-color: rgba(255,180,0,100);
}

#main-panel-container{
  background: red;
  display:inline;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%
}

.center-icons{
  position: absolute;
  top: -0.2rem;
  left: 0.6rem;
}

.main-panel-a{
  font-size: 2.2rem;
  position: fixed;
  width: 60px;
  height: 60px;
  z-index: 1000;
  display: inline;
  top: 60px;
  box-shadow:  6px 6px 12px #949494,
             0px 0px 4px #826b50;
  border: #eee solid 4px;
  border-radius: 50%;
  background: rgb(255,111,0);
  background: radial-gradient(circle, rgba(255,111,0,0.7) 0%, rgba(255,184,0,0.7) 82%, rgba(237,237,237,0.7) 80%);
}

.main-panel-a:hover{
  border: rgb(255,111,0) solid 4px;
  background: rgb(255,111,0);
  background: radial-gradient(circle, rgba(255,111,0,1) 0%, rgba(255,184,0,1) 82%, rgba(237,237,237,1) 80%);
}

.b-settings{
  right: 220px;

}
.g-settings{
  right: 310px;
}
.c-settings{
  right: 400px;
}
.k-settings{
  right: 490px;
}
.main-panel-b{
  position: fixed;
  width: 11rem;
  z-index: 1000;
  display: inline;
  top: 4rem;
}
.e-settings{
  left: 14rem;
}

.energyBar{
  position: fixed;
  // width: 7.95rem;
  height: 1.6rem;
  left: 17.4rem;
  top: 4.82rem;
  background: rgb(0,164,255);
  background: linear-gradient(0deg, rgba(0,164,255,1) 0%, rgba(255,255,255,1) 100%);
  z-index: 2000;
  display: inline;
  border-radius: 5px;
}
.img-energy-container{
  display: inline;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.command-textarea {
 position:fixed;
 width: 120px;
 height: 68px;
 bottom: 8px;
 left: 44px;
 background: rgba(0,0,0,0);
 z-index: 100;
 font-size: 0.7rem;
 font-family: 'Carter One';
 resize: none;
 text-align: center;
 border: none;
 color: rgb(255,255,255);
 text-shadow: 1px 0 green, 0 1px green;
}

.command-textarea:focus{
  outline: none;
}

#panel-coordenadas{
  font-family: 'Carter One';
  color: rgb(255,255,255);
  text-shadow: 2px 0 green, 0 2px green, 1px 0 green, 0 -1px green;
  font-size: 0.7rem;
  position: fixed;
  left: 60px;
  bottom: 68px;
  z-index: 1000;
}
