@import "mixins";

#canvasP5home{
  @include padding-reset;
  overflow-x: hidden;
}

.home-canvas-container{
  @include padding-reset;
}

.container-glass-full{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
}

#main-panel-toggle{
  position: fixed;
  width: 19rem;
  height: 2.5rem;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 3000;
  transition: bottom 0.25s;
}

.toggle-pos-true{
  bottom: 146px;
}
.toggle-pos-false{
  bottom: 0px;
}

.panel-display-false{
  display: none;
  opacity: 0;
}
.panel-display-true{
  opacity: 1;
}
.main-panel{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10rem;
  left: 50%;
  transform: translate(-50%,0%);
  transition: opacity 0.25s;
  z-index: 1000;
}

#main-panel-image{
  position: fixed;
  width: 960px;
  bottom: 0px;
  z-index: 3000;
}

.image-profile-button{
  display: inline;
  clip-path: circle(50% at 50% 50%);
  width: 5.9rem;
  transform: translate(-1rem,-0.45rem);
}
.image-profile-button:focus{
  border: none;
}
.image-profile-button:active{
  border: none;
}

.image-profile-button-done{
  display: inline;
  clip-path: circle(50% at 50% 50%);
  width: 5.9rem;
  transform: translate(-10px,-6px);
}

.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#main-panel-profile-button{
  position: fixed;
  display: inline;
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(338px,-20px);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(255,180,0,1);
  border-color: rgba(255,180,0,0);
  z-index: 3000;
}

#main-panel-container{
  position: fixed;
  display:inline;
  bottom: 0;
  width: 100%;
  height: 10%;
  z-index: 3000;
}

.main-panel-a{
  position: fixed;
  border-radius: 50px;
  z-index: 3000;
  top: 50%;
  left:50%;
}

.c-settings{
  transform: translate(180px,-32px);
}
.k-settings{
  transform: translate(80px,-24px);
}
.main-panel-b{
  position: fixed;
  width: 11rem;
  z-index: 3000;
  display: inline;
}

.main-panel-c{
  position: fixed;
  width: 17rem;
  z-index: 3000;
  display: inline;
  left: 300px;
  bottom: 45px;
}
.e-settings{
  left:50%;
  transform: translate(-275px,52px);
}

.energyBar{
  position: fixed;
  left:50%;
  height: 36px;
  transform: translate(-18px,20px);
  background: rgb(0,164,255);
  background: linear-gradient(0deg, rgba(0,164,255,1) 0%, rgba(255,255,255,1) 100%);
  z-index: 3000;
  display: inline;
  border-radius: 5px;
}
.img-energy-container{
  display: inline;
  position: fixed;
  width: 250px;
  z-index: 3000;
}

.command-textarea {
 position:fixed;
 width: 7.5rem;
 height: 4.3rem;
 left:50%;
 background: rgba(0,0,0,0);
 transform: translate(-436px,82px);
 z-index: 4000;
 font-size: 0.7rem;
 font-family: 'Carter One';
 resize: none;
 text-align: center;
 border: none;
 color: rgb(255,255,255);
 text-shadow: 1px 0 green, 0 1px green;
}

.command-textarea:focus{
  outline: none;
}

#panel-coordenadas{
  position: fixed;
  font-family: 'Carter One';
  color: rgb(255,255,255);
  text-shadow: 2px 0 green, 0 2px green, 1px 0 green, 0 -1px green;
  font-size: 0.7rem;
  left:50%;
  transform: translate(-422px,60px);
  z-index: 4000;
}

.container-text-background{
  position: absolute;
  display: inline;
  z-index: 4000;
  top:1rem;
}

.img-text-background{
  width: 100vh;
}

.centerX{
  left: 50%;
  transform: translateX(50%);
}

.p-content-main{
  position: absolute;
  z-index: 4000;
  font-family: 'Learners';
  font-size: 3rem;
  text-align: center;
  top: 2rem;
  width: 90%;
  left:55%
}

.input-content-enter{
  position: absolute;
  z-index: 4000;
  font-family: 'Learners';
  font-size: 2.5rem;
  text-align: center;
  color: #fecc44;
  top:17rem;
  left:75%;
  border-radius: 1.5rem;
  border: #fecc44 outset 5px;
  background: rgb(148,94,40);
  background-color: linear-gradient(0deg, rgba(148,94,40,1) 0%, rgba(117,65,23,1) 100%);
}

.button-pages{
  position:absolute;
  z-index: 4000;
  background-color: rgba(255,255,255,0);
  border: none;
}

.bt-back{
  top:11rem;
  left:20rem;
}
.bt-next{
  top:11rem;
  left:60rem;
}

.bt-active-true{
  cursor: pointer;
}
.bt-active-false{
  cursor:default;
}

.btn-jump-true{
  animation: jumping 0.5s infinite;
}

@keyframes jumping {
    0% {
      background-color: rgba(255,180,0,1);
    }
    100% {
      background-color: rgba(255,180,0,0);;
    }
}

.center-icons-b{
  position: absolute;
  transform: translate(-41px,-1px);
  width: 33px;
}
.center-icons-a{
  position: relative;
  transform: translate(10px,-62px);
  width: 50px;
}

.center-icons-sm{
  position: relative;
  transform: translate(10px,-58px);
  width: 46px;
}
.center-icons-lg{
  position: relative;
  transform: translate(12px,-68px);
  width: 56px;
}

.panel-button-img-sm{
  width: 65px;
}
.panel-button-img-lg{
  width: 80px;
}

.bt-pixelapp{
  width: 50px;
  color: #fff;
  margin-left: 1rem;
}
