@import "mixins";

#canvasP5home{
  @include padding-reset;
  overflow-x: hidden;
}

.home-canvas-container{
  @include padding-reset;
}

.container-glass-full{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
}

#main-panel-toggle{
  position: fixed;
  width: 19rem;
  height: 2.5rem;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 2000;
  transition: bottom 0.25s;
}

.toggle-pos-true{
  bottom: 9.4rem;
}
.toggle-pos-false{
  bottom: 0px;
}

.panel-display-false{
  display: none;
  opacity: 0;
}
.panel-display-true{
  opacity: 1;
}
.main-panel{
  position: fixed;
  bottom: 0px;
  width: 63rem;
  height: 10rem;
  left: 50%;
  transform: translate(-50%,0%);
  transition: opacity 0.25s;
  z-index: 1000;
}

#main-panel-image{
  position: fixed;
  width: 63rem;
}

.image-profile-button{
  display: inline;
  clip-path: circle(50% at 50% 50%);
  width: 5.9rem;
  transform: translate(-1rem,-0.45rem);
}

.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#main-panel-profile-button{
  position: fixed;
  display: inline;
  border-radius: 50%;
  right: 3.1rem;
  bottom: 0.38rem;
  width: 5.75rem;
  height: 5.75rem;
  background-color: rgba(255,180,0,100);
}

#main-panel-container{
  position: fixed;
  background: red;
  display:inline;
  bottom: 0;
  width: 100%;
  height: 10%;
  z-index: 2000;
}

.center-icons{
  font-size: 2.2rem;
  position: absolute;
  top: -0.1rem;
  left: 0.7rem;
}

.main-panel-a{
  position: fixed;
  width: 4rem;
  height: 4rem;
  z-index: 1000;
  display: inline;
  top: 3rem;
  box-shadow:  6px 6px 12px #949494,
             0px 0px 4px #826b50;
  border: #eee solid 4px;
  border-radius: 50%;
  background: rgb(255,111,0);
  background: radial-gradient(circle, rgba(255,111,0,0.7) 0%, rgba(255,184,0,0.7) 82%, rgba(237,237,237,0.7) 80%);
}

.main-panel-a:hover{
  border: rgb(255,111,0) solid 4px;
  background: rgb(255,111,0);
  background: radial-gradient(circle, rgba(255,111,0,1) 0%, rgba(255,184,0,1) 82%, rgba(237,237,237,1) 80%);
}

.b-settings{
  right: 14rem;
}
.g-settings{
  right: 20rem;
}
.c-settings{
  right: 26rem;
}
.k-settings{
  right: 32rem;
}
.main-panel-b{
  position: fixed;
  width: 11rem;
  z-index: 1000;
  display: inline;
  top: 3rem;
}
.e-settings{
  left: 14rem;
}

.energyBar{
  position: fixed;
  height: 1.6rem;
  left: 17.4rem;
  top: 3.82rem;
  background: rgb(0,164,255);
  background: linear-gradient(0deg, rgba(0,164,255,1) 0%, rgba(255,255,255,1) 100%);
  z-index: 2000;
  display: inline;
  border-radius: 5px;
}
.img-energy-container{
  display: inline;
  position: fixed;
  width: 11rem;
  z-index: 1000;
}

.command-textarea {
 position:fixed;
 width: 7.5rem;
 height: 4.4rem;
 bottom: 0.5rem;
 left: 2.75rem;
 background: rgba(0,0,0,0);
 z-index: 100;
 font-size: 0.7rem;
 font-family: 'Carter One';
 resize: none;
 text-align: center;
 border: none;
 color: rgb(255,255,255);
 text-shadow: 1px 0 green, 0 1px green;
}

.command-textarea:focus{
  outline: none;
}

#panel-coordenadas{
  position: fixed;
  font-family: 'Carter One';
  color: rgb(255,255,255);
  text-shadow: 2px 0 green, 0 2px green, 1px 0 green, 0 -1px green;
  font-size: 0.7rem;
  left: 3.9rem;
  bottom: 4.2rem;
  z-index: 1000;
}
