

.index-footer {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.index-background {
  position: fixed;
  z-index: -1000;
  height: 100%;
  width: 100%;
  left:0;
}

#p5 {
  position: absolute;
  left: 19%;
  top:50px;
  width: 100%;
  animation-name: fadeIn;
  animation-duration: 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-background {
  position: absolute;
  display: block;
  z-index: -2;
  left: 0;
  padding: 0rem;
}

.navi-list{
  list-style: none;
  height: 2.5rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  left:0;
  top: 2rem;
  padding-left: 0px;
}
.nav-items{
  display: flex;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  display: inline;
  align-items: center;
  font-family: "DINNextLTPro";
  color: rgb(200,200,200);
  align-self: center;

}


.z-top{
  z-index: 2000;
}

.item-1{
  flex-grow: 4;
  align-self: center;
  padding-left: 6rem;

}

.item-rest{
  flex-grow: 2;
  justify-content: center;
}

.item-rest:hover{
  color: rgb(255,125,0);
}

.item-7{
  flex-grow: 4;
  align-self: center;
}

.tablero-background {
  position: absolute;
  width:50%;
  bottom: 40%;
  top:24%;
  left: 25%;
  right: 25%;
}

.symbol-background {
  position: absolute;
  top: 16%;
  left: 50%;
  width: 1.5rem;
  transform: translate(-50%,-50%);
}

.canvas-false{
  display:none;
}

.nav-item{
  margin-right: 80px;
  font-family: "DINNextLTPro";
  cursor: pointer;
}
.nav-link:hover{
  text-decoration: none;
  color: rgb(255,125,0) !important;
  cursor: pointer;
}

#slogan {
  display: inline;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: "DINNextLTPro";
  font-size: 0.7rem;
  position: absolute;
  right:-6%;
  margin-left: 1rem;
  height: 200px;
}

@media (orientation: portrait) {
    #slogan{
      display: none;
    }

    .tablero-background {
      position: absolute;
      width:92%;
      bottom: 40%;
      top:30vh;
      left: 4%;
      right: 4%;
    }
    #p5 {
      position: absolute;
      top:77px;
      left: 50%;
      transform: translate(-50%,-38%);
      width: 88%;
      animation-name: fadeIn;
      animation-duration: 2s;
    }
    .index-background {
      position: fixed;
      z-index: -1000;
      height: 100%;
      width: 100%;
      transform: scale(2.2,1);
      left:0;
    }
    .state-true{
      display: none;
    }
}
