@import "mixins";

.opacity-fadeInOut{
  animation: fadeInOut 7s;
  overflow: hidden;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.opacity-false{
  opacity:1;
  transition: 1s;
}

.opacity-true{
  opacity:0;
  transition: opacity 5s;
}

#bh-img{
  opacity:1;
  width: 25%;
  clip-path: polygon(52% 0 , 11% 35%, 11% 99% , 29% 64%, 34% 99%, 52% 63%, 61% 99%, 74% 63%, 90% 100%, 90% 32%);
}

.nav-item{
  margin-right: 80px;
  font-family: "DINNextLTPro";
  cursor: pointer;
}
.nav-link:hover{
  text-decoration: none;
  color: rgb(255,125,0) !important;
  cursor: pointer;
}

#divP5Puzzle{
  position: relative;
  top:20%;
}

#canvasP5Puzzle{
  top: 50%;
  left: 50%;
  transform: translate(0%,0%);
  margin-top: 2rem;
  border-radius: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing-button-popover{
  display: inline;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0);
  border: none;
  width: 0.25rem;
  height: 2rem;
  left: 16rem;
  bottom: 1rem;
}
