

.nav-item{
  margin-right: 80px;
  font-family: "DINNextLTPro";
  cursor: pointer;
}
.nav-link:hover{
  text-decoration: none;
  color: rgb(255,125,0) !important;
  cursor: pointer;
}

#image-tablero{
  width: 55%;
  margin-top: 3rem;
  z-index: -1000;
}

#divP5Puzzle{
  position: relative;
  top:50%;
}

#canvasP5Puzzle{
  position: absolute;
  display: inline;
  margin-top: 6rem;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$phone-width: 480px;
$desktop-width: 1024px;

@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$desktop-width - 1px}) {

  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {

  }
}
