@import "mixins";

.opacity-fadeInOut{
  animation: fadeInOut 7s;
  overflow: hidden;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.opacity-false{
  opacity:1;
  transition: 1s;
}

.opacity-true{
  opacity:0;
  transition: opacity 5s;
}

#bh-img{
  opacity:1;
  width: 25%;
  clip-path: circle(50% at 50% 50%);
}

.nav-item{
  margin-right: 80px;
  font-family: "DINNextLTPro";
  cursor: pointer;
  border-bottom: rgb(255,125,40) none 0px;
}

.nav-item-border{
  border-bottom: rgb(255,125,40) solid 5px;
}

.nav-link:hover{
  text-decoration: none;
  color: rgb(255,125,40) !important;
  cursor: pointer;
}

.symbol-container{
  position: absolute;
  top:1rem;
  left: 50%;
}

#divP5Puzzle{
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#canvasP5Puzzle{
  border-radius: 1rem;
  transform: translateY(-10%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing-button-popover{
  display: inline;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0);
  border: none;
  width: 0.25rem;
  height: 2rem;
  left: 25%;
  bottom: 35%;
}
