@import "mixins";

#pixelapp-main-container{
  position:absolute;
  width:100%;
  overflow: hidden;
  z-index: 3000;
}

#canvasPixelArt {
  position: absolute;
  border-radius: 5px;
  background: #fff;
  width: 400px;
  height: 400px;
  z-index: 1000;
}

#divPixelArt{
  position: relative;
  width: 416px;
  height: 416px;
  background: #826b50;
  border: 10px ridge #d6a770;
  border-radius: 0.8rem;
  z-index: 1000;
  margin-left: 5rem;
}

#div-canvas-colorPicker{
  position: absolute;
  width: 35%;
  height: 100%;
  z-index: 2000;
}

.p5Canvas {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.instructP5{
  background: rgb(255,180,0);
  border: 10px ridge rgb(255,180,0);
  border-radius: 0.8rem;
  height: 420px;
  width: 250px;
}

.textarea-instructP5{
  color:black;
  background-color: rgb(255,180,0);
  border: none;
  resize:none;
}

.textarea-instructP5:focus{
  outline: none;
  font-size: 1rem;
}

#canvasColorPicker{
  position: relative;
  display: block;
  width: 150px;
  top: 0px;
  clip-path: circle(40% at 50% 50%);
}

#divColorPicker{
  position: relative;
  width: 430px;
  height: 170px;
  border: 10px solid #d6a770;
  border-radius: 0.1rem;
  background: rgb(250, 247, 175);
}

.divColorPicker-border{
  position: relative;
  width: 450px;
  height: 188px;
  border: 10px ridge #d6a770;
  border-radius: 0.8rem;
  margin-right: 5rem;
}

.colorPicker-slider{
  -webkit-appearance: none;
  position: relative;
  display: block;
  right:1rem;
  margin-top: 0.8rem;
  z-index: 1000;
  width: 100%;
  border: 6px ridge rgb(255,180,0);
  border-radius: 0.8rem;
  height: 21px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.op {
  background-color: black;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgb(255,160,0);
  height: 16px;
  width: 16px;
  border-radius: 51% 49% 50% 50% / 16% 17% 83% 84% ;
  background: rgb(255,200,0);
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid rgb(255,160,0);
  height: 16px;
  width: 16px;
  border-radius: 51% 49% 50% 50% / 16% 17% 83% 84% ;
  background: rgb(255,200,0);
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
#slidersColorPicker {
  position: absolute;
  right: 0px;
  width: 60%;
}

#preview-avatar{
  width: 400px;
  border: 10px ridge #d6a770;
  border-radius: 0.8rem;
}

.mainPixelArtContainer{
  background-repeat: no-repeat;
  background-size:cover;
}

.savedColor{
  border: 6px ridge #d6a770;
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  border-radius: 50px;
  width: 6rem;
  height: 6rem;
  top: 20rem;
}

.button-pixelapp{
  border-radius: 50px;
  width: 5.4rem;
  height: 5.4rem;
}

.savedColor:hover{
  cursor: pointer;
}

.one-color{
  right: 41%;
}
.two-color{
  right: 32%;
}
.three-color{
  right: 23%;
}
.four-color{
  right: 14%;
}

.bg-img-pixelapp{
  @include background-pos-top;
  top: 0px;
  height: 540px;
  padding: 4rem;
  transform-origin: center;
  transform: scale(1);
}
