.card-profile-primero{
  border: none;
  width: 36rem;
  font-family: 'carter one';
  position:absolute;
  top:0rem;
  background: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
  margin-top:4rem;
  height: 70vh;
}

.input-profile{
  position:absolute;
  right:1rem;
  width: 45%;
}

.container-buttons-center{
    position: absolute;
    left: 0;
    margin-top: 1rem;
    display: flex;
    font-family: 'DINNextLTPro';
}

.card-profile-gestores{
  width: 35rem;
  margin-top:0px;
  border:none;
}

.container-center-flex{
  display: flex;
}
