.card-profile-primero{
  border: none;
  width: 36rem;
  font-family: 'learners';
  background: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
  font-size: 1.2rem;
}

.input-profile{
  // position:absolute;
  right:1rem;
  width: 55%;
  height: 1.3rem;
  background-color: rgba(255,255,255,0);
  border: none;
  display: block;
  font-size: 1.6rem;
  color: #666;
}

.container-buttons-center{
    position: absolute;
    left: 0;
    margin-top: 1rem;
    display: flex;
    font-family: 'Learners';
}

.card-profile-gestores{
  width: 35rem;
  margin-top:0px;
  border:none;
}

.container-center-flex{
  display: flex;
}
