.card-profile-primero{
  border: none;
  width: 36rem;
  font-family: 'carter one';
  position:absolute;
  display: inline-block;
  top:4rem;
  background: rgba(255,255,255,0);
  background-color: rgba(255,255,255,0);
  margin-top:4rem;
}

.input-profile{
  position:absolute;
  right:1rem;
  width: 45%;
}

.container-buttons-center{
    position: absolute;
    left: 0;
    margin-top: 1rem;
    display: flex;
    font-family: 'DINNextLTPro';
}
